@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #3c136c
}

.flex-container{
    display: flex;
    justify-content: space-around;
    margin: 3% 0%;
    flex-wrap: wrap;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.divisionMid{
    display: flex;
    justify-content: flex-start;
}

.estilos{
    width:200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1% 1%;
}

.title{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

#ig{
    width: 350px;
    height: 100px;
    object-fit: cover;
}



#C1{
    width: 50%;
}



#C2{
    width: 50%;
    margin: auto;
}

.C2-element{
    margin: 5% 0px;
    text-align: center;
    font-size: larger;
    color: #3c136c;    
}

.on{
    display: none;
}

@media only screen and (max-width: 1300px) {
    #off{
        display: none;
    }

    .on{
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .title{
        font-weight: 300;
        font-size: 30px;
        text-align: center; 
    }

    #ig{
        width: 200px;
        height: 100px;
        object-fit: cover;
    }

    .estilos{
        width:150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin: 3% 3%;
    }
}