@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #3c136c
}

.flex-container{
    display: flex;
    justify-content: space-around;
    margin: 3% 0%;
    flex-wrap: wrap;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.divisionMid{
    display: flex;
    justify-content: flex-start;
}

.estilos{
    width:300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1% 1%;
    border: 3px solid #3c136c;
}

.title{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

#ig{
    width: 350px;
    height: 100px;
    object-fit: cover;
}



#C1{
    width: 50%;
}



#C2{
    width: 50%;
    margin: auto;
}

.C2-element{
    margin: 5% 0px;
    text-align: center;
    font-size: larger;
    color: #3c136c;    
}

.on{
    display: none;
}

@media only screen and (max-width: 1300px) {
    #off{
        display: none;
    }

    .on{
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .title{
        font-weight: 300;
        font-size: 30px;
        text-align: center; 
    }

    #ig{
        width: 200px;
        height: 100px;
        object-fit: cover;
    }

    .estilos{
        width:200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin: 3% 3%;
    }
}














.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  